h1 {
    color: black;
    font-size: 200%
}

h2 {
    font-family: "times new roman";
    text-indent: 20px;
    margin-left: 10px;
    color: white;
}

p {
    font-family: "times new roman";
    text-indent: 20px;
    margin-left: 10px;
    color: white;
    width: 80vw;
}

html,
body,
#background {
  width: 100vw;
  min-height: 100vh;
  background-color: gray;
}

#content {
    background-color: #cccccc;
    width: 1200px;
    min-height: 300px;
    padding: 10px;
    margin: 10px;
    border: solid 1px #444444;
    font-size: 20px;
}
