h1 {
    color: black;
    font-size: 200%
}

h2 {
    font-family: "Helvetica";
    text-indent: 20px;
    margin-left: 10px;
    color: blue;
    font-size: 200%
}

h3 {
    font-family: "Helvetica";
    text-indent: 20px;
    margin-left: 10px;
    color: green;
    font-size: 200%
}

h4 {
    font-family: "Helvetica";
    text-indent: 20px;
    margin-left: 10px;
    color: red;
    font-size: 200%
}

h5 {
    font-family: "Helvetica";
    text-indent: 20px;
    margin-left: 10px;
    color: orange;
    font-size: 200%
}

p {
    font-family: "times new roman";
    text-indent: 20px;
    margin-left: 10px;
    color: black;
    width: 80vw;
}

html,
body,
#background {
  width: 100vw;
  min-height: 100vh;
  background-color: cyan;
}

#content {
    background-color: #cccccc;
    width: 1200px;
    min-height: 300px;
    padding: 10px;
    margin: 10px;
    border: solid 1px #444444;
    font-size: 20px;
}

#my-portrait {
    width: 300px;
}
