#tetris{
    width: 450px;
    height: 600px;
    position: relative;
    border: 5px solid #6d37a5;


}

.square{
    width: 48px;
    height: 48px;
    display: inline-flex;
    padding: 0%;
    margin: 0px;
    position: relative;
    top: 4px;
    margin-top: -4px;
    border: 1px solid black;
}

#game{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}

#info{
    padding: 5px;
    border: 5px solid #6d37a5;
    border-left: none;
    width: 300px;


}

#link{
    display: none;
}

html{
width: 100vw;
min-height: 100vh;
background-image: linear-gradient(white, #6d37a5);
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #3d0e6f;
    font-family: 'Rubik', sans-serif;
    padding: 0;
  }

  p {
    font-variant: small-caps;
    margin-left: 10px;
    color: black;
    font-size: 18px;
  }
